body{
    background: linear-gradient(45deg,rgb(120, 55, 255), rgb(255, 80, 200));
    font-family: system-ui, sans-serif;
    min-height: 100vh;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    max-width: 1024px;
    margin: 2rem auto;
    color: rgb(250, 245, 255);
    padding: 1rem;
    align-items: stretch;
}
a, a:link, a:visited {
    color: #ffffff !important;           
}
a:hover, a:active {
    color: #ff80c0 !important;           
    text-decoration: underline;
}
.product {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 1.8rem;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;

}
.user_product {
        min-width: 1000px;
            border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 1.8rem;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

h4 {
    flex-grow: 1;
}
a {
display: inline-block;
    padding: 14px 28px;
    background: transparent;                    /* убираем красный фон */
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.5);  /* белая полупрозрачная рамка */
    border-radius: 16px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}
a:hover, a:focus {
    background: rgba(255, 255, 255, 0.15);
    text-decoration: none !important;
}
#seller_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#user_name, #user_phone, #user_email, #user_role{
    font-weight: 600;
    display: block;
    width: 100%;
}
.cartWrapper{
    position: relative;
    width: fit-content;

}
.cart {
    position: absolute;
    width: 300px;
    top: 2rem;
    background-color: white;
}

.cart:before{
    content: "";
    height: 1rem;
    z-index: 5;
    position:absolute;
    bottom: 1.3rem;
    right:0.2rem;
    border:1rem solid transparent;
    border-bottom-color: black;
    border-bottom-width: 1rem;
}